<!DOCTYPE html>
<html>
<head>
    <title>Get started</title>
    <style>
        .navbar-start {
            background-color: #ddcfcf;
            padding: 10px;
            text-align: center;
        }
        .navbar-item {
            margin-right: 20px;
            padding: 7px 15px;
            text-decoration: none;
            color: #fff;
            background-color: #4CAF50;
            border-radius: 5px;
        }
        .main {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            box-shadow: 0 0 10px rgb(39, 26, 26);
            border-radius: 10px;
        }
    </style>
</head>
<body>
    //Add top navigation bar
    <div class="navbar-start">
        <a class="navbar-item navbar-item-bg" href="/index">Home</a>
        <a class="navbar-item navbar-item-bg" href="/get-started">Get started</a>
        <a class="navbar-item navbar-item-bg" href="/show">Display Results</a>
    </div>
    <div class="main">
        <h1>Welcome to the Website!</h1>
        <p>How to use this website?</p>
        <p>Enter any keywords you want to search for, and then press the search button.The browser will jump to a new page displaying relevant news</p>
        <p>You can click the home button above to return to the search interface, or you can click Display Results to view the search results</p>
        <p>This website only provides news for the current month</p>
    </div>
</body>
</html>
